.container {
  width: 100vw;
  height: auto;
  margin: 10vw 0 0;
}

body {
  width: 100%;
  margin: 0;
}

.edit-button {
  margin-left: -50px;
}

.edit-button,
.delete-button {
  font-size: 17px;
}

#user-input {
  margin-left: 4%;
  width: 65%;
}

.done-tab,
.todo-tab {
  border-radius: 0;
}
