/* Tabs  */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 65px;
}

.tab button {
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
  color: #333;
}

.tab button.active {
  background-color: #ccc;
  color: #333;
}

.tab-content {
  display: none;
  animation: fadeEffect 1s;
  padding: 5px 12px 30px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
