@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --accent1: #f89e9d;
  --accent2: #6490d2;
  --accent3: #f8f4eb;
  --accent4: #333;
}

body {
  background: #ff6347;
  color: var(--accent4);
  font-family: "Poppins", sans-serif;
}

.container {
  display: block;
  background-color: whitesmoke;
  width: 400px;
  margin: 80px auto;
  border-radius: 20px;
}

/* tabs */
.tab {
  overflow: hidden;
  height: 100%;
  margin-top: 10px;
}

.tab button {
  width: 50%;
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
  margin: 0;
}

.done-tab {
  border-radius: 0 20px 0 0;
}

.todo-tab {
  border-radius: 20px 0 0 0;
}

.tab button:hover {
  background-color: #fdd8d7;
  color: #333;
}

.tab button.active {
  background-color: var(--accent2);
  color: white;
}

.tab-content {
  display: none;
  animation: fadeEffect 1s;
  padding: 5px 12px 30px 12px;
  border-top: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* heading */
h3 {
  font-family: "Lobster", cursive;
  color: #333;
  font-weight: 700;
  font-size: 35px;
  padding: 30px 0 10px;
  margin: 0;
  text-align: center;
}

/* input and buttons */

input,
button {
  outline: none;
}

#user-input {
  width: 70%;
}

#add-button {
  width: 20%;
  font-family: "Bebas Neue";
}

#add {
  padding: 20px;
}

.delete-button,
.edit-button {
  width: 30px;
  height: 30px;
}

.edit-button:hover {
  background-color: teal;
  color: white;
}

.edit-button:focus {
  background-color: teal;
  color: white;
}

.delete-button:hover {
  background-color: tomato;
  color: white;
}

#done-list label {
  text-decoration: line-through;
  color: #888;
}

#clear-done,
#clear-todo {
  width: 100%;
  color: red;
  margin-top: 10px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: #888;
  font-size: 15px;
  width: 20px;
}

button:hover {
  color: #333;
}

input {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
  font-family: "Poppins", sans-serif;
}

input:focus {
  color: #333;
  background: #f9f9f9;
}

label {
  display: block;
}

/* UL LI */
ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

li {
  height: 30px;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  top: 15px;
  width: 15px;
  cursor: pointer;
}

li > label {
  font-size: 15px;
  line-height: 40px;
  width: 237px;
}

li > input[type="text"] {
  width: 220px;
  height: 20px;
}

ul li input[type="text"] {
  display: none;
}

ul li.edit input[type="text"] {
  display: block;
}

ul li.edit label {
  display: none;
}
